@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}
.profile-card{
    max-width: 370px;
    width: 100%;
    background: #fff;
    border-radius: 24px;
    padding: 25px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    padding: 3px;
    background-color: #4070f4;

}

.image .profile-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    border: 3px #fff solid;
}

.profile-card .text-data{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-card .text-data .name{
    font-size: 22px;
    font-weight: 500;
}

.profile-card .text-data .job{
    font-size: 15px;
    font-weight: 400;
}

.profile-card .media-icons{
    display: flex;
    align-items: center;
    margin-top: 15px;

}

.media-icons .links{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #fff;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    text-decoration: none;
    margin: 0 8px;
    background-color: #4070f4;
}

.profile-card .buttons{
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.buttons .button{
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 24px;
    margin: 0 10px;
    background-color: #4070f4;
    padding: 8px 24px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.buttons .button:hover{
    background-color: #0e4bf1;
}

.profile-card .analytics{
    display: flex;
    margin-top: 25px;
    align-items: center;

}

.analytics .number{
    align-items: center;
    font-size: 16px;
    color: #333;
    
}

.analytics .data{
    padding: 0 20px;
    border-right: 2px solid #e7e7e7;
}

.data:last-child{
    border-right: none;
}


